.app{
    text-align: center;
}

.newArr-btn{
    padding: 7px 15px;
    cursor: pointer;
    margin: 10px 10px;
}

.array-comp{
    margin: 0 auto;
    border-top: 2px solid skyblue;
    width: fit-content;
    max-width: 90%;
}